name: CI

on: 
  workflow_dispatch:
  push:
    branches-ignore:
      - main
  pull_request:
    types: [opened]
    
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-go@v3
        with:
          go-version: '^1.12'

      - name: Build
        run: make build

      - name: Container - Build    
        run: docker build .      
