name: Deploy Release

on:
  release:
    types:
      - released
    
env:
  REGISTRY: containersol/locust_exporter

jobs:
  build:
    name: Release
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-go@v4
        with:
          go-version: '^1.12'

      - name: Build
        run: make build

      - name: Container - Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PASS }}

      - name: Container - Build    
        run: docker build -t ${{ env.REGISTRY }}:$(echo $GITHUB_REF | sed -e "s/refs\/tags\///g") .

      - name: Container - Push    
        run: docker push ${{ env.REGISTRY }}:$(echo $GITHUB_REF | sed -e "s/refs\/tags\///g") 
